<%- include ("partials/header.ejs") %>

<body>
<div class="container">
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Bem vindo!</h1>
        <p class="lead">Este é um blog sobre tecnologia</p>
        <hr class="my-4">
        <p>Descrição detalhada</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more </a>
        </p>
    </div>
    <hr>
    <% articles.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>

        </div>

    <% }) %>
</div>

<%- include ("partials/footer.ejs") %>

</body>